#scheme {
        height: 800px;
        display: flex;
        align-items: center;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1296px;
        height: 600px;
    }
    
}