@model AccountViewModel

<section id="accountdetails">
    <div class="left">

        <div class="user">
            <img src=""/>
            <p>John Doe</p>
            <p>johndoe@domain.com</p>
        </div>

        <div class="option">
            <button class="details">
                <img src="" />
                <p>Account Details</p>    
            </button>
            <button class="signout">
                <img src="" />
                <p>Sign Out</p>
            </button>
        </div>

    </div>

    <div class="right">

    </div>
</section>