@model SubscribeModel

    <section class="showcase">
        <div class="container">
            <div class="content">
                <h1>Task Management <br /> Assistant You <br /> Gonna Love</h1>
                <p>We off you a new generation of task management system. Plan, manage & track all your tasks in one flexible tool.</p>
                <a class="btn-theme-s" href="#">Get started for free</a>
                <h6>Largest companies use our tool to work efficiently</h6>
                <div class="brands">
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                </div>
            </div>
        </div>
        <img class="background-image" src="images/image(5).png">
    </section>

    <section id="features">
        <div class="container">
            <h1>What Do You Get with Our Tool?</h1>
            <p>Make sure your tasks are organized so you can set the priorities and focus on important.</p>
            <div class="tool-features">
                <div class="box" id="box1">
                    <i class="fa-regular fa-comment"></i>
                    <h5>Comments on Tasks</h5>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam.</p>
                </div>
                <div class="box" id="box2">
                    <i class="fa-solid fa-desktop"></i>
                    <h5>Tasks Analytics</h5>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam.</p>
                </div>
                <div class="box" id="box3">
                    <i class="fa-solid fa-people-arrows"></i>
                    <h5>Multiple Assignees</h5>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam.</p>
                </div>
                <div class="box" id="box4">
                    <i class="fa-regular fa-bell"></i>
                    <h5>Notifications</h5>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam.</p>
                </div>
                <div class="box" id="box5">
                    <i class="fa-regular fa-newspaper"></i>
                    <h5>Sections and subtasks</h5>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam.</p>
                </div>
                <div class="box" id="box6">
                    <i class="fa-solid fa-shield-halved"></i>
                    <h5>Security</h5>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="modes">
        <img src="./images/mockup.png">
        <div class="black">
            <h1>Switch Between</h1>
        </div>
        <div class="white">
            <h1>Light & Dark Mode</h1>
        </div>
    </section>

    <section id="scheme">
        <div class="container">
            <img src="./images/image(1).png">
            <div class="text">
                <h1>Manage your work</h1>
                <p><img src="./images/svg/bx-check-circle.svg">Lorem ipsum dolor sit amet.</p>
                <p><img src="./images/svg/bx-check-circle.svg">Lorem ipsum dolor sit amet.</p>
                <p><img src="./images/svg/bx-check-circle.svg">Lorem ipsum dolor sit amet.</p>
                <p><img src="./images/svg/bx-check-circle.svg">Lorem ipsum dolor sit amet.</p>
                <p><img src="./images/svg/bx-check-circle.svg">Lorem ipsum dolor sit amet.</p>
                <a class="btn-theme" href="#"><span>Learn more</span><i class="fa-solid fa-arrow-right"></i></a>
            </div>
        </div>
    </section>

    <section id="download">
        <div class="container">
            <img src="./images/image(2).png">
            <div class="text">
                <h1>Download our app <br /> for any devices:</h1>
                <div class="square">
                    <div class="wrapper">
                        <d2>App Store</d2>
                        <img src="./images/rating.png">
                        <h3>Editors choice</h3>
                        <p>rating 4.7 187k+ reviews</p>
                    </div>
                    <div>
                        <img src="./images/appstore.png">
                    </div>
                </div>
                <div class="square">
                    <div class="wrapper">
                        <d2>Google Play</d2>
                        <img src="./images/rating.png">
                        <h3>App of the day</h3>
                        <p>rating 4.7 187k+ reviews</p>
                    </div>
                    <div>
                        <img src="./images/googleplay.png">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="subscribe" class="subscribe">
        <div class="container">
            <div class="title">
                <h2>Don't want to Miss Anything</h2>
                <img src="~/images/arrows.png" alt="swirl arrow" />
            </div>
            <form method="post" asp-action="Subscribe" asp-controller="Home">
                <div class="alternative">
                    <h4>Sign up for newsletters</h4>

                    <div class="options">
                        <div class="checkbox-groups">
                            <div class="input-group">
                                <input asp-for="DailyNewsletter" />
                                <label asp-for="DailyNewsletter"></label>
                            </div>
                            <div class="input-group">
                                <input asp-for="AdvertisingUpdates" />
                            <label asp-for="AdvertisingUpdates"></label>
                            </div>
                            <div class="input-group">
                                <input asp-for="WeekInReview" />
                                <label asp-for="WeekInReview"></label>
                            </div>
                            <div class="input-group">
                                <input asp-for="EventUpdates" />
                                <label asp-for="EventUpdates"></label>
                            </div>
                            <div class="input-group">
                                <input asp-for="StartupsWeekly" />
                                <label asp-for="StartupsWeekly"></label>
                            </div>
                            <div class="input-group">
                                <input asp-for="Podcasts" />
                                <label asp-for="Podcasts"></label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-email">
                    <div class="input-group">
                        <i class="fa-regular fa-envelope"></i>
                        <input asp-for="Email" />
                    </div>
                    <button type="submit" class="btn btn-theme">Subscribe *</button>
                </div>
            @if (!string.IsNullOrEmpty(TempData["StatusMessage"]?.ToString()))
            {
                <span class="status-message">@TempData["StatusMessage"]</span>
            }
            else
            {
                <span class="status-message">* Yes, I Agree to the terms and privacy policy</span>
            }
            </form>
        </div>
    </section>