@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
html, body {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
}

.text-xs {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 12px !important;
}

.text-s {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 14px !important;
}

.text-m {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 16px !important;
}

.text-lg {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 18px !important;
}

.text-xl {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 20px !important;
}

.text-lead {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 24px !important;
}

.d1 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 80px !important;
}

.d2 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 72px !important;
}

.d3 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 64px !important;
}

.d4 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 56px !important;
}

.d5 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 48px !important;
}

.d6 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 42px !important;
}

h1, .h1 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 40px !important;
}

h2, .h2 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 32px !important;
}

h3, .h3 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 28px !important;
}

h4, .h4 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 24px !important;
}

h5, .h5 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 20px !important;
}

h6, .h6 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 16px !important;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

a {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  color: #6366F1;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}
a:hover {
  text-decoration: underline;
}

.menu-link {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  color: #33354D;
  font-weight: 600 !important;
  text-decoration: none;
  transition: color 0.25s ease-in-out;
}
.menu-link:hover, .menu-link:active, .menu-link:focus,
.menu-link .active {
  color: #6366F1;
  text-decoration: none;
}

.btn-theme {
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  padding: 8px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: #6366F1;
  color: #FFFFFF;
  border: none;
}
.btn-theme:hover {
  text-decoration: none;
  background: #565973;
  color: #FFFFFF;
}

.btn-theme-s {
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  padding: 8px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  box-shadow: 0px 8px 18px -8px rgba(99, 102, 241, 0.9);
  background: #6366F1;
  color: #FFFFFF;
  padding-top: 10px;
  padding-bottom: 13px;
}
.btn-theme-s:hover {
  box-shadow: 0px 8px 18px -8px rgba(19, 16, 34, 0.15);
  text-decoration: none;
  background: #565973;
  color: #FFFFFF;
}

.btn-gray {
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  padding: 8px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: #EFF2FC;
  color: #33354D;
  border: none;
}
.btn-gray:hover {
  text-decoration: none;
  background: #565973;
  color: #FFFFFF;
}

.btn-switch {
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn-switch label {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  color: #33354D;
  font-weight: 600 !important;
  margin: 10px;
}
.btn-switch .switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}
.btn-switch .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.btn-switch .switch input:checked + .slider {
  background-color: #6366F1;
}
.btn-switch .switch input:focus + .slider {
  box-shadow: 0 0 1px #6366F1;
}
.btn-switch .switch input:checked + .slider:before {
  transform: translateX(20px);
  background-color: #FFFFFF;
}
.btn-switch .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #565973;
  transition: 0.4s;
}
.btn-switch .switch .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 2.7px;
  background-color: #FFFFFF;
  transition: 0.4s;
}
.btn-switch .switch .slider.round {
  border-radius: 34px;
}
.btn-switch .switch .slider.round:before {
  border-radius: 50%;
}

.btn-social {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 20px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 44px;
  height: 44px;
  background-color: #EFF2FC;
  color: #33354D;
}
.btn-social:hover {
  text-decoration: none;
  background: #565973;
  color: #FFFFFF;
}

header {
  padding: 15px 0;
  height: 100%;
}
header .container {
  display: grid;
  align-items: center;
  grid-auto-columns: auto 1fr auto auto;
  grid-template-areas: "logo menu switch buttons";
  gap: 40px;
}
header .container #logo {
  grid-area: logo;
}
header .container #menu {
  grid-area: menu;
  display: none;
}
@media (min-width: 992px) {
  header .container #menu {
    display: block;
  }
}
header .container #menu nav {
  display: flex;
  gap: 15px;
}
header .container .btn-switch {
  grid-area: switch;
  display: none;
}
@media (min-width: 992px) {
  header .container .btn-switch {
    display: block;
  }
}
header .container .account-buttons {
  grid-area: buttons;
  display: none;
  gap: 15px;
}
@media (min-width: 992px) {
  header .container .account-buttons {
    display: flex;
  }
}

footer {
  padding: 50px 0 30px 0;
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 16px !important;
  color: #9397AD;
}
footer .container {
  text-align: center;
}
footer .container .social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.showcase {
  display: flex;
  height: 100%;
}
.showcase .container {
  width: 34%;
  margin-left: 200px;
  margin-top: 120px;
}
.showcase .container .content p {
  margin-top: 50px;
  margin-bottom: 50px;
}
.showcase .container .content a {
  width: 210px;
  margin-bottom: 40px;
}
.showcase img {
  width: 1007px;
}

#features {
  background-color: #EFF2FC;
  height: 954px;
  display: flex;
  align-items: center;
}
#features .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70%;
}
#features .tool-features {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
#features .tool-features .box {
  width: 432px;
  height: 268px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 1px solid #B4B7C9;
}
#features .tool-features #box1 {
  grid-area: 1/2/2/3;
}
#features .tool-features #box2 {
  grid-area: 1/3/2/4;
}
#features .tool-features #box3 {
  grid-area: 1/4/2/5;
}
#features .tool-features #box4 {
  grid-area: 2/2/3/3;
}
#features .tool-features #box5 {
  grid-area: 2/3/3/4;
}
#features .tool-features #box6 {
  grid-area: 2/4/3/5;
}
#features .tool-features i {
  font-size: 45px;
  margin-bottom: 20px;
}

#modes {
  height: 988px;
  display: flex;
  align-items: top;
  position: relative;
  justify-content: center;
}
#modes .black {
  width: 50%;
  background-color: #0B0F19;
  display: flex;
  justify-content: end;
}
#modes .black h1 {
  color: #FFFFFF;
  display: flex;
  justify-content: end;
  margin-right: 10px;
  margin-top: 100px;
}
#modes .white {
  width: 50%;
}
#modes .white h1 {
  color: #0B0F19;
  margin-left: 10px;
  margin-top: 100px;
}
#modes img {
  position: absolute;
  top: 25%;
}

#scheme {
  height: 800px;
  display: flex;
  align-items: center;
}
#scheme .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1296px;
  height: 600px;
}

#download {
  height: 703px;
  width: 100%;
  display: flex;
  background-color: #D4D7E5;
  justify-content: center;
  align-items: center;
}
#download .container {
  height: 694px;
  width: 1296px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#download .container .text {
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
#download .container .text .square {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  width: 400px;
}
#download .container .text .square img {
  width: 160px;
}
#download .container .text .wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
#download .container .text .wrapper h2 {
  font-weight: 400;
  font-size: 20px !important;
  color: #9397AD;
}
#download .container .text .wrapper img {
  margin-top: 20px;
}

#courses .container {
  margin-top: 50px;
}
#courses .container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
#courses .container .header .roll-down {
  width: 300px;
  height: 50px;
  background-color: white;
  border: 1px solid #D4D7E5;
  border-radius: 7px;
}
#courses .container .header .search {
  display: flex;
  gap: 20px;
}
#courses .container .header .search div {
  position: relative;
}
#courses .container .header .search div i {
  position: absolute;
  right: 15px;
  top: 15px;
}
#courses .container .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
#courses .container .cards .box1 {
  width: 32%;
  height: 473px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 2px 6.4px -1px rgba(19, 16, 34, 0.03), 0px 4.4px 12px -1px rgba(19, 16, 34, 0.06);
}
#courses .container .cards .box1 img {
  border-radius: 10px 10px 0 0;
  width: 100%;
}
#courses .container .cards .box1 .info-text {
  width: 90%;
  display: flex;
  flex-direction: column;
}
#courses .container .cards .box1 .info-text h5 {
  color: #33354D;
}
#courses .container .cards .box1 .info-text p:nth-child(odd) {
  color: #6366F1;
  font-weight: 800;
}
#courses .container .cards .box1 .info-text .border {
  border: 1px solid rgb(213, 213, 213);
}
#courses .container .cards .box1 .info-text .sub-info {
  width: 70%;
  display: flex;
  margin-top: 10px;
  align-items: center;
}
#courses .container .cards .box1 .info-text .sub-info p {
  margin-right: 30px;
  margin-left: 5px;
  margin-top: 15px;
}

#main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main .section {
  width: 500px;
  height: 526px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
#main .section p {
  margin-bottom: 20px;
}
#main .section form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
#main .section form input {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #D4D7E5;
}
#main .section form h5 {
  margin-top: 30px;
}
#main .section form .remember {
  display: flex;
  align-items: center;
}
#main .section form .remember input {
  margin-bottom: 20px;
  margin-right: 10px;
  width: 15px;
}
#main .section form button {
  width: 100%;
}

/*#main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;


    .section {
        width: 900px;
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;

        p {
            margin-bottom: 10px;
        }

        form {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;

            .content {
                width: 100%;
            }

            h5 {
                @include text-m;
            }

            input-group {
                width: 100%;
                height: 50px;
                border-radius: 10px;
                border: 1px solid $gray-400;
            }

            .field-validation-error {
                color: red;
            }   

            h5 {
                margin-top: 10px;
            }

            .remember {
                display: flex;
                align-items: center;

                input {
                    margin-bottom: 20px;
                    margin-right: 10px;
                    width: 15px;
                }
            }

            button {
                width: 100%;
            }

            .checkbox-group {
                margin-bottom: 20px;
                margin-right: 10px;
                display: flex;
                align-items: center;

                label {
                    width: 100%;
                }

                input {
                    width: 15px;
                    margin-right: 9px;
                }
            }
        }
    }
}*/
#signup {
  height: 100%;
}
#signup .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 1000px;
}
#signup .container include lg {
  width: 60%;
}
#signup .container include xl {
  width: 40%;
}
#signup .container form {
  padding: 1rem;
  width: 100%;
}
#signup .container form .content {
  display: grid;
  gap: 1rem 2rem;
  grid-template-columns: 1fr;
  grid-template-areas: "firstname" "lastname" "email" "password" "confirm" "terms" "button";
}
#signup .container form .content include md {
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "firstname lastname" "email email" "password password" "confirm confirm" "terms" "button button";
}
#signup .container form .content .input-group {
  display: flex;
  flex-direction: column;
}
#signup .container form .content .input-group .error-message {
  color: red;
}
#signup .container form .content .input-group input {
  border-radius: 10px;
  border: 1px solid #B4B7C9;
  height: 50px;
}
#signup .container form .content #form-firstname {
  grid-area: firstname;
}
#signup .container form .content #form-lastname {
  grid-area: lastname;
}
#signup .container form .content #form-email {
  grid-area: email;
}
#signup .container form .content #form-password {
  grid-area: password;
}
#signup .container form .content #form-confirm {
  grid-area: confirm;
}
#signup .container form .content #form-terms {
  grid-area: terms;
}
#signup .container form #form-button {
  grid-area: button;
  width: 950px;
}
